.va-virtual-repeater {
    border: solid 1px #eee;
    overflow:auto;
    height: 100%;
}
 
.va-virtual-repeater > div {
    overflow:hidden;
}
    .va-virtual-repeater ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

