.va-virtual-repeater {
    border: solid 1px #eee;
    overflow:hidden;
}
    .va-virtual-repeater .va-list-box {
         overflow:hidden;
         /*background-color: aquamarine;*/
         width: 110%;
         height: 100%;        
         float: left;        
         margin-right: -100%;
         background:  linear-gradient(#eee, #eee) 0 50px no-repeat;
         background-size: 100% 30px;
    }

    .va-virtual-repeater .va-scroll-fast {
        background-color: rgba(0, 0, 0, 0.01);
        width: 40px;
        margin-left: -100%;
        height: 100%;
        float: right;
        overflow-y: auto;
        border-left: solid 1px #808080;
    }

    .va-virtual-repeater .va-slider {
        width: 1px;

    }

    .va-virtual-repeater ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .va-virtual-repeater .va-spacer-slow {
        width:1px;
        height: 100%;
        float: left;
        /*background-color: red;*/
    }