.va-virtual-tree .folder {
    cursor: pointer;
}

label span {
    width: 150px;
    /*background-color:antiquewhite;*/
    display:inline-block;
}

.level1 {
margin-left: 20px;
}
 .level2 {
margin-left: 40px;
}
 .level3 {
margin-left: 60px;
}
 .level4 {
margin-left: 80px;
}
.level5 {
margin-left: 100px;
}
.level6 {
margin-left: 120px;
}