.va-virtual-tree .folder {
    text-decoration:underline;
    cursor: pointer;
}
label span {
    width: 150px;
    /*background-color:antiquewhite;*/
    display:inline-block;
}

.va-virtual-tree .level1 {
margin-left: 20px;
}
.va-virtual-tree .level2 {
margin-left: 40px;
}
.va-virtual-tree .level3 {
margin-left: 60px;
}
.va-virtual-tree .level4 {
margin-left: 80px;
}